<aside class="menu">
  <a href="#" title="home" class="icon-main">G</a>
  <a href="#" title="habilidades" class="icon-skils"></a>
  <a href="#" title="projetos" class="icon-projects"></a>
  <a href="#" title="contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="#" title="a" class="icon-linkedin"></a>
  <a href="#" title="a" class="icon-github"></a>

</aside>

<section class="main">
  <div class="content">
    <h1>Olá, <br> Eu sou <span>G</span>abriel, <br>Desenvolvedor web</h1>
    <button class="btn-contact">Entrar em contato</button>
  </div>
  <div class="img"></div>
</section>
<section class="skills">
  <h1>Competencias</h1>

  <p>Backend</p>
  <div class="loading backend"></div>
  <p>Frontend</p>
  <div class="loading frontend"></div>
  <p>Banco de dados</p>
  <div class="loading devops"></div>
  <p>Mobile</p>
  <div class="loading mobile"></div>
</section>
<section class="projects">
  <h1>Portifólio e <br> Experiências</h1>

  <div class="boxes">
    <div class="box blue">Freelancer</div>
    <div class="box red">Clubfood</div>
    <div class="box blue">NTH</div>
  </div>

  <div class="boxes">
    <div class="box orange">Agência Prospecta</div>
    <div class="box red">Agência Otimize</div>
    <div class="box blue">Agência Inexxus</div>
  </div>
</section>
<section class="contact">
  <h1>Entrar em contato</h1>
  <form class="form" [formGroup]="formulario" (ngSubmit)="sendMessage()">
    <div class="row">
      <input formControlName="name" placeholder="Nome" class="input" type="text" name="name" id="nameInput">
      <input formControlName="email" placeholder="E-mail" class="input" type="email" name="email" id="emailInput">
    </div>
    <input formControlName="subject" class="input" type="text" placeholder="Assunto" id="assuntoInput">
    <textarea formControlName="message" class="textarea" placeholder="Mensagem" name="mensagem" id="mensagemTextArea"
      cols="30" rows="10"></textarea>
    <button [disabled]="formulario.invalid" type="submit" class="submit">Enviar</button>
  </form>
  <span *ngIf="messageError" class="alert--error">{{ messageError }}</span>
</section>

<footer>Develop by <a href="https://gabrielrodrigues.vercel.app">@Gabriel4420</a></footer>
